@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }

  .auth-select option {
    color: #001f3f;
    background-color: #ffffff;
    font-weight: 700;
  }

  .auth-select option:checked {
    background-color: #000052;
    color: #ffffff;
  }
}